<br>
<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h2>Portfolio (<%= @value %>)</h2>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
      <div class="owned_stock_list">
        <% @user.owned_stocks.each do |s| %>
          <div>
            <b class="text-primary"><%= s.stock.ticker_symbol %></b> - <%= s.amount.to_i %> shares - <%= ActionController::Base.helpers.number_to_currency(s.amount * s.stock.current_value)  %>
            Current Value: <%= s.stock.current_value %>
          </div>
        <% end %>
      </div>
    </div>

    <hr>
    <br></br>
    <br></br>
    <br></br>
    <div class="col-sm-6 text-center">
      <h3>Cash - <%= @cash %></h3>

      <%= form_for :transactions, url: "/transactions" do |f| %>
        <br>
        <%= f.text_field :stock_id, placeholder: "Ticker" %>
        <br>
        <%= f.text_field :number_of_shares, placeholder: "Quantity" %>
        <br>
        <%= f.submit "Buy" %>
      <% end %>

      <div id="form_alert"></div>
    </div>

  </div>

</div>
